.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  background-color: transparent;
  color: inherit;
  border-radius: 10rem;
}

.reading__text {
  font-size: 1.8rem;
}

.heading__tertiery {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
}
