.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  transition: all 0.3s;
  z-index: 10;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: $background__color--dashboard;
  padding: 6.4rem 4.8rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 32px rgba($color: #000000, $alpha: 0.3);
  transition: all 0.3s;
  animation: moveIn 2s ease-in;
  z-index: 10;

  &__input {
    font-style: inherit;
    color: inherit;
    border: none;
    display: block;
    width: 100%;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 0.2rem;
    border-bottom: 3px solid transparent;

    &:focus {
      outline: none;
      border-bottom: 3px solid #24ff24;

      &:invalid {
        border-bottom: 3px solid #ff4f00;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    color: inherit;
    margin-left: 2rem;
    margin-top: 0.6rem;
    display: block;
    transition: all 0.3s;
    margin-bottom: 2rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__switch {
    font-size: 1.6rem;
    cursor: pointer;
    margin-bottom: 1.8rem;
  }

  &__btn {
    background-color: $primary--color;
    padding: 1.2rem 3.2rem;
    border-radius: 10rem;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  & ion-icon {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    font-size: 2.4rem;
    --ionicon-stroke-width: 5.6rem;
    cursor: pointer;
  }
}

.form__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  align-items: center;
}
